<div class='container'>
  <div class='columns'>
    <div class='column col-6'>
      <form method='POST' action='/add-post'>
        <h3>
          Create new Post
        </h3>

        <div class='form-group'>
          <label class='form-label' for='input-example-3'>
            New Post
          </label>
          <textarea name='postInput' minlength="5" class='form-input' id='input-example-3' placeholder='Textarea' rows='3'
            required></textarea>
          <button type="submit" class='btn btn-primary'>
            Post
          </button>
        </div>
      </form>

      <form method='POST' action='/logout'>
        <button type='submit' class='btn btn-error'>Logout</button>
      </form>
    </div>
    <div class='column col-6'>
      <h3>
        Update/Delete existing posts
      </h3>
      {{#if posts.length}}
      {{#each posts}}
      <div class='hero bg-primary'>
        <div class='hero-body'>
          <div class='post'>
            <div class='postText'>
              <form method='POST' action='update-post'>
                <textarea minlength="5" name="postText" id="" cols="75" rows="10" required>{{text}}</textarea>
                <div class='btn-group btn-group-block'>
                  <input type='hidden' name='postId' value="{{postId}}" />
                  <button class='btn'>
                    Update Post
                  </button>
              </form>
              <form method='POST' action='/remove-post'>
                <input type='hidden' name='postId' value="{{postId}}" />
                <button type='submit' class='btn btn-error'>
                  Remove Post
                </button>
              </form>
            </div>
          </div>
          <div class='postCommentContainer'>
            {{#if comments.length}}
            {{#each comments}}
            <form method='POST' action='/remove-comment'>
              <input type='hidden' name='commentId' value="{{Id}}" />
              <div class='postComment'>
                <p id='comment'>
                  {{Comment}}
                </p>
                <button type='submit' class='btn btn-error'>
                  Remove comment
                </button>
              </div>

            </form>
            {{/each}}
            {{/if}}
          </div>
        </div>
      </div>
    </div>
    {{/each}}
    {{else}}
    <p>
      No posts available.
    </p>
    {{/if}}
  </div>
</div>
</div>